a0d7b954_nodered/flows.json
[{"id":"db81865e.1b9518","type":"tab","label":"PresenceDetection","disabled":false,"info":""},{"id":"ac9284b7.41b378","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"b430708b.f3f62","type":"mqtt-broker","name":"Main","broker":"10.20.107.2","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"71107ed3.f3cd78","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ble_scanner_office","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":40,"wires":[["6c47031c.ebc08c"]]},{"id":"6c47031c.ebc08c","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":610,"y":40,"wires":[["5ee35b44.f3e3dc"]]},{"id":"98cd291e.ca33e","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/joao_amazfit","qos":"","retain":"","broker":"b430708b.f3f62","x":850,"y":480,"wires":[]},{"id":"9c6fe2e6.afae1","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.amazfit_joao","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":480,"wires":[["d0d9749a.e27c98"]]},{"id":"7520599e.a33778","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"home-assistant/location/bianca_amazfit","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b430708b.f3f62","x":860,"y":540,"wires":[]},{"id":"8c8b4d38.91b57","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.amazfit_bianca","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":540,"wires":[["6a0245c9.14f984"]]},{"id":"48c7003d.012df","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"room_presence/office","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b430708b.f3f62","x":1860,"y":100,"wires":[]},{"id":"9f953994.9cae58","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ble_scanner_living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":100,"wires":[["f984c36d.ffb8c8"]]},{"id":"f984c36d.ffb8c8","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":610,"y":100,"wires":[["387e778c.ea6fa8"]]},{"id":"a4adb7f7.244ec8","type":"switch","z":"db81865e.1b9518","name":"","property":"payload.address","propertyType":"msg","rules":[{"t":"eq","v":"EC:BF:F8:8F:0E:9B","vt":"str"},{"t":"eq","v":"FD:2A:F9:0D:8B:BB","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":180,"wires":[["ecc310d1.6349"],["f9ba47c8.625e68"]]},{"id":"720e873a.33031","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"room_presence/living_room","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b430708b.f3f62","x":1880,"y":160,"wires":[]},{"id":"d0d9749a.e27c98","type":"function","z":"db81865e.1b9518","name":"Map Room","func":"if (msg.payload == \"office\") {\n  msg.payload = \"Escritório\";\n} else if (msg.payload == \"living_room\") {\n  msg.payload = \"Sala de Estar\";\n} else if (msg.payload == \"master_bedroom\") {\n  msg.payload = \"Quarto Principal\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["98cd291e.ca33e"]]},{"id":"2245059b.1d604a","type":"function","z":"db81865e.1b9518","name":"Calculate Distance","func":"var txPower = -72\n\nvar ratio = msg.payload.rssi * 1.0 / txPower\n\nif (ratio < 1.0) {\n  distFl = Math.pow(ratio, 10);\n} else {\n  distFl = (0.89976) * Math.pow(ratio, 7.7095) + 0.111;\n}\nmsg.payload.distance = Math.round(distFl * 100) / 100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":120,"wires":[["a4adb7f7.244ec8"]]},{"id":"387e778c.ea6fa8","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"living_room\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":100,"wires":[["2245059b.1d604a"]]},{"id":"ecc310d1.6349","type":"function","z":"db81865e.1b9518","name":"Joao Amazfit","func":"msg.payload.id = \"joao_amazfit\"\nmsg.payload.name = \"joao\"\nmsg.payload.uuid = \"EC:BF:F8:8F:0E:9B\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":120,"wires":[["b3751546.b1b8b"]]},{"id":"f9ba47c8.625e68","type":"function","z":"db81865e.1b9518","name":"Bianca","func":"msg.payload.id = \"bianca_amazfit\"\nmsg.payload.name = \"bianca\"\nmsg.payload.uuid = \"FD:2A:F9:0D:8B:BB\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":240,"wires":[["b3751546.b1b8b"]]},{"id":"b3751546.b1b8b","type":"switch","z":"db81865e.1b9518","name":"Switch Room","property":"payload.room","propertyType":"msg","rules":[{"t":"eq","v":"office","vt":"str"},{"t":"eq","v":"living_room","vt":"str"},{"t":"eq","v":"master_bedroom","vt":"str"},{"t":"eq","v":"hall","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1570,"y":180,"wires":[["48c7003d.012df"],["720e873a.33031"],["81f02ab3.c9514"],["528b9a888ef52581"]]},{"id":"5ee35b44.f3e3dc","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"office\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":40,"wires":[["2245059b.1d604a"]]},{"id":"c5c688aa.4c8fc8","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ble_scanner_master_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":160,"wires":[["104521c8.39b95e"]]},{"id":"104521c8.39b95e","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":610,"y":160,"wires":[["16e859c1.c8cb0e"]]},{"id":"16e859c1.c8cb0e","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"master_bedroom\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":160,"wires":[["2245059b.1d604a"]]},{"id":"81f02ab3.c9514","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"room_presence/master_bedroom","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b430708b.f3f62","x":1900,"y":220,"wires":[]},{"id":"2f9fd104.093406","type":"mqtt in","z":"db81865e.1b9518","name":"","topic":"room-assistant/sensor/ble-fd2af90d8bbb/attributes","qos":"2","datatype":"auto","broker":"b430708b.f3f62","nl":false,"rap":false,"inputs":0,"x":270,"y":400,"wires":[["eb760538.61b6"]]},{"id":"eb760538.61b6","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":570,"y":400,"wires":[["d5630c3f.2bf428"]]},{"id":"d5630c3f.2bf428","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"office\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["f9ba47c8.625e68"]]},{"id":"6debe4c8.2d07f4","type":"mqtt in","z":"db81865e.1b9518","name":"","topic":"room-assistant/sensor/ble-ecbff88f0e9b/attributes","qos":"2","datatype":"auto","broker":"b430708b.f3f62","nl":false,"rap":false,"inputs":0,"x":260,"y":340,"wires":[["983ae959.a5fb08"]]},{"id":"983ae959.a5fb08","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":570,"y":340,"wires":[["95a8e431.d0c2a8"]]},{"id":"95a8e431.d0c2a8","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"office\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":340,"wires":[["ecc310d1.6349"]]},{"id":"6a0245c9.14f984","type":"function","z":"db81865e.1b9518","name":"Map Room","func":"if (msg.payload == \"office\") {\n  msg.payload = \"Escritório\";\n} else if (msg.payload == \"living_room\") {\n  msg.payload = \"Sala de Estar\";\n} else if (msg.payload == \"master_bedroom\") {\n  msg.payload = \"Quarto Principal\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":540,"wires":[["7520599e.a33778"]]},{"id":"9736bd8504681e60","type":"server-state-changed","z":"db81865e.1b9518","name":"","server":"ac9284b7.41b378","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ble_scanner_hall","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":220,"wires":[["99ac8a6ca3f8ddad"]]},{"id":"99ac8a6ca3f8ddad","type":"json","z":"db81865e.1b9518","name":"","property":"payload","action":"","pretty":false,"x":610,"y":220,"wires":[["141757f8f97a252a"]]},{"id":"141757f8f97a252a","type":"function","z":"db81865e.1b9518","name":"","func":"msg.payload.room = \"hall\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":220,"wires":[["2245059b.1d604a"]]},{"id":"528b9a888ef52581","type":"mqtt out","z":"db81865e.1b9518","name":"","topic":"room_presence/hall","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b430708b.f3f62","x":1850,"y":280,"wires":[]},{"id":"b72136ec677226d6","type":"function","z":"db81865e.1b9518","name":"Joao Galaxy","func":"msg.payload.id = \"joao_galaxy\"\nmsg.payload.name = \"joao\"\nmsg.payload.uuid = \"EC:BF:F8:8F:0E:9B\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":180,"wires":[["b3751546.b1b8b"]]}]